/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.mainpage{
    background-color:rgba(8, 11, 12, 0.6);
}
.navpage{
    background-color:lightblue;
    font-weight: bold;
    font-size: 16;
}

.popupHeader{
    background-color:lightblue;
    font-weight: bold;
    font-size: 16;
}
.popupBody{
    background-color:white;
    
}
.table {
    background-color:rgba(196, 24, 24, 0.911);
    width:100%;
  }
  .label{
      text-align: right;
      font-weight: bold;
     
  }
  .disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  .inputbox {
    border: 3px solid #555;
    
   
}